{% extends "base.html" %}

{% block content %}

    <div id="wrapper"  style="background-color: #78909c;">


            <div class="row" style="background-color: #78909c; width:80%; padding-left: 25%; padding-top: 10%;">
                  <div class="col-md-12">
                       <div class="card" style="text-align: center">
                            <div class="card-content">
                                <div class="alert alert-success">
                                        <strong>PASSWORD CHANGED {{ new_user.first_name }} <br></strong>
                                            Your password has been successfully changed.
                                </div>

                            </div>
                       </div>
                  </div>
            </div>

    </div>

{% endblock %}