{% extends 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brute Force</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="{% static "assets/materialize/css/materialize.min.css" %}" rel="stylesheet" /> <!--"media="screen,projection" /> -->
    <!-- Bootstrap Styles-->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static "assets/css/font-awesome.css" %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static "assets/js/morris/morris-0.4.3.min.css" %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static "assets/css/custom-styles.css" %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static "assets/js/Lightweight-Chart/cssCharts.css" %}" >
</head>

<body>
{% block content %}
    <a href="{% url "profil" %}">
               <div class="row">
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image">
						<i class="fa fa-user fa-5x"></i>
						</div>
						<div class="card-stacked">
						<div class="card-content">
						<h2>Profile</h2>
						</div>
						<div class="card-action">
						<strong>Edit your profile</strong>
						</div>
						</div>
						</div>
               </div>
    </a>

    <a href="{% url "tasks" %}">
                <div class="row">
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image">
						<i class="fa fa-bug fa-5x"></i>
						</div>
						<div class="card-stacked">
						<div class="card-content">
						<h2>Test</h2>
						</div>
						<div class="card-action">
						<strong>Start new test</strong>
						</div>
						</div>
						</div>
                </div>
    </a>

    <a href="{% url "history" %}">
                <div class="row">
					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image">
						<i class="fa fa-search fa-5x"></i>
						</div>
						<div class="card-stacked">
						<div class="card-content">
						<h2>History</h2>
						</div>
						<div class="card-action">
						<strong>History of your tests</strong>
						</div>
						</div>
						</div>
                    </div>
    </a>
{% endblock %}
</body>

</html>