{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
		  <div class="header">
                        <h1 class="page-header">
                            Profile of {{ user }}
                        </h1>
          </div>
         <div class="row">
             <div class="col-md-12">
                    <div class="card">
                        <div class="card-action">
                            Your tests:
                        </div>
                        <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Date of Creation</th>
                                                <th>Input password</th>
                                                <th>Dictionary</th>
                                                <th>Hash Code</th>
                                                <th>Action</th>
                                                <th>Output password</th>
                                            </tr>
                                        </thead>

                                           {% for instance in queryset %}
                                                <tr>
                                                    <td>{{ instance.status}}</td>
                                                    <td>{{ instance.created }}</td>
                                                    <td>{{ instance.input_password }}</td>
                                                    <td>{{ instance.get_dictionary_display }}</td>
                                                    <td>{{ instance.hash }}</td>
                                                    <td>
                                                         <form action="{% url "profile" %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="submit" name="{{ instance.id }}" class="waves-effect waves-light btn" value="Start task">
                                                         </form>
                                                    </td>
                                                    <td>{{ instance.output_password }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
             </div>
         </div>

{% endblock %}
</body>
</html>